version: '3.7'

services:
  web:
    container_name: bookbnb-appserver_web

    build:
      context: .
      dockerfile: Dockerfile.dev
    
    command: sh ./docker-entrypoint.dev.sh
    
    volumes:
      - ./:/usr/src/app
    
    ports:
      - 8002:8000
    
    depends_on: 
      - db # first execute database
    
    environment:
      - TESTING=0
      - ENVIRONMENT=dev
      - DATABASE_URL=postgresql://hello_fastapi:hello_fastapi@db/hello_fastapi_dev


  db:
    container_name: bookbnb-appserver_db

    image: postgres:12.1-alpine

    volumes:
      - postgres_data:/var/lib/postgresql/data/
    
    environment:
      - POSTGRES_USER=hello_fastapi
      - POSTGRES_PASSWORD=hello_fastapi
      - POSTGRES_DB=hello_fastapi_dev

volumes:
  postgres_data:
